<h3>Welcome to the App!</h3>

Hello {{ user.fullName }}! You've registered into the app! <br><br>

Please confirm account by clicking this
<a href="{{ url('security_confirm', {'token': user.confirmationToken}) }}">
    link
</a>

To login, go to <a href="{{ url('security_login') }}">login page</a>. <br><br>

Thanks!